<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18900_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{42,56}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,83},{42,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,42},{40,56}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,83},{40,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{52,54}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,85},{52,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,46},{42,52}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,87},{42,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,44},{44,50}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,89},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2},{42,50}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,89},{42,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,42},{46,54}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,81},{46,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_down_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,44},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,42},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,44},{44,56}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,72},{44,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,44},{44,54}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,74},{44,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{44,62}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,65},{44,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,40},{48,60}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,67},{48,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,38},{50,58}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,70},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{50,56}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,72},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,44},{44,58}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,73},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_attack_up_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,42},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{46,60}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,72},{46,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,42},{52,46}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,85},{52,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,44},{44,38}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,93},{44,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{62,42}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{62,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,48},{62,40}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,111},{62,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,46},{40,54}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,80},{40,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,46},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,79},{42,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{60,48}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{60,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,36}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,99},{76,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_die_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{78,34}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,101},{78,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,44},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,42},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,42},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_wait_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,42},{42,58}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,75},{42,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,44},{44,56}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,77},{44,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,44},{44,56}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,77},{44,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,46},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,77},{42,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,46},{42,58}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,75},{42,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,77},{42,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,42},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,77},{42,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,42},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,77},{42,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,50},{38,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{38,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{38,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{38,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{40,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,71},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,73},{40,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,44},{38,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{38,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18900_walk_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,44},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,73},{40,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>18900.png</string>
            <key>size</key>
            <string>{1876,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b9802827d7a382fc6f0d90c154868e8:1/1$</string>
            <key>textureFileName</key>
            <string>18900.png</string>
        </dict>
    </dict>
</plist>
