<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>51001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,84}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,47},{98,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>51002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{138,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{138,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>51003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{126,74}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{126,74}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>51004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{128,80}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{128,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>51005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{100,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>51006.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{88,82}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,51},{88,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>random.png</string>
            <key>size</key>
            <string>{672,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010ca1fe80b36cdfc99d605ccff0442d:1/1$</string>
            <key>textureFileName</key>
            <string>random.png</string>
        </dict>
    </dict>
</plist>
