<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18300_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{50,62}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{50,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{40,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,70},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{40,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{40,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{40,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,70},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,72},{68,54}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,80},{68,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,74},{70,52}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,82},{70,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,74},{64,52}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{64,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,68},{62,54}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{62,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{52,60}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,73},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,70},{60,56}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,77},{60,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,70},{64,56}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,77},{64,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,70},{60,56}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{60,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{70,60}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{70,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{70,62}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{70,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{64,62}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,71},{64,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_attack_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{60,62}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{60,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,68},{46,58}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,74},{46,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{70,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,70},{70,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,72},{62,54}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,76},{62,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{66,42}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,97},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{66,40}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,100},{66,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,58}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,76},{74,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{42,66}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{42,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{58,66}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{58,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{72,32}}</string>
                <key>offset</key>
                <string>{-16,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,119},{72,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_die_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{72,34}}</string>
                <key>offset</key>
                <string>{-16,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,118},{72,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,66},{52,60}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,66},{52,60}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,66},{52,60}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,66},{52,60}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,68},{52,58}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{52,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,68},{52,58}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{52,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,74},{52,60}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,74},{52,60}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,68},{56,58}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,68},{56,58}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,68},{56,58}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,68},{56,58}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,75},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,70},{56,58}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,75},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,70},{56,58}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,75},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,70},{56,58}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,75},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_wait_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,70},{56,58}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,75},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{66,60}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,72},{66,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{66,60}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,72},{66,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{68,62}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,70},{68,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{70,62}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,70},{70,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{68,62}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,70},{68,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{66,62}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,70},{66,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{64,62}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{64,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{64,62}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{64,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{46,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,68},{46,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{44,62}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,70},{44,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{44,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,68},{44,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{46,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{46,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{42,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,68},{42,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{44,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,68},{44,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{48,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,68},{48,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18300_walk_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,76},{50,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,66},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>18300.png</string>
            <key>size</key>
            <string>{1656,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d60d290c4def957315becd9883458fa3:1/1$</string>
            <key>textureFileName</key>
            <string>18300.png</string>
        </dict>
    </dict>
</plist>
