<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18200_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{60,60}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,64},{60,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{62,66}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,58},{62,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{40,68}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{40,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{58,72}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,52},{58,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,72},{66,52}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,72},{66,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,70},{46,54}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,70},{46,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,60},{52,56}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,68},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,62},{44,58}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,60},{40,56}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,68},{40,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,60},{52,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{66,58}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,66},{66,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{40,62}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{38,62}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,62},{38,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{36,62}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,62},{36,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{36,60}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,64},{36,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_attack_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,64},{40,60}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{40,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{42,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{42,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{50,62}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{50,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,66},{58,46}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,76},{58,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{66,42}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,79},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{64,34}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,87},{64,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,70},{50,54}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{44,56}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{44,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{56,38}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,96},{56,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{74,34}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,107},{74,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_die_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,32}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,109},{82,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,62},{36,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{36,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,62},{36,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{36,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,62},{36,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{36,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,62},{36,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{36,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{36,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{44,58}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,62},{44,58}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{44,58}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,60},{44,56}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,68},{44,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{44,56}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,68},{44,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,64},{44,58}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,66},{44,58}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_wait_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,66},{44,58}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{44,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{52,56}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,68},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,70},{52,54}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{52,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,68},{52,56}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,66},{50,58}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,68},{52,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,68},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,68},{52,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,68},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,68},{52,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,68},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,66},{52,58}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{52,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{42,64}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{42,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{40,62}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,62},{40,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{38,64}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,60},{38,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{38,66}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,58},{38,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{36,64}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,60},{36,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{38,62}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{38,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{40,64}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{40,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18200_walk_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,78},{46,66}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{46,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>18200.png</string>
            <key>size</key>
            <string>{1374,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac0bf5ec26028170ac7587262ff02652:1/1$</string>
            <key>textureFileName</key>
            <string>18200.png</string>
        </dict>
    </dict>
</plist>
