<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{249,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,151}}</string>
                <key>sourceSize</key>
                <string>{249,151}</string>
            </dict>
            <key>10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,411},{250,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,185}}</string>
                <key>sourceSize</key>
                <string>{250,185}</string>
            </dict>
            <key>10041.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,213},{241,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,169}}</string>
                <key>sourceSize</key>
                <string>{241,169}</string>
            </dict>
            <key>10061.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,883},{244,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{244,173}</string>
            </dict>
            <key>10081.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,634},{247,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,153}}</string>
                <key>sourceSize</key>
                <string>{247,153}</string>
            </dict>
            <key>10101.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,852},{249,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,160}}</string>
                <key>sourceSize</key>
                <string>{249,160}</string>
            </dict>
            <key>12001.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,384},{245,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,148}}</string>
                <key>sourceSize</key>
                <string>{245,148}</string>
            </dict>
            <key>12011.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,633},{247,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,151}}</string>
                <key>sourceSize</key>
                <string>{247,151}</string>
            </dict>
            <key>12021.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,882},{241,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,164}}</string>
                <key>sourceSize</key>
                <string>{241,164}</string>
            </dict>
            <key>12031.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,384},{247,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,176}}</string>
                <key>sourceSize</key>
                <string>{247,176}</string>
            </dict>
            <key>14000.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1058},{241,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,157}}</string>
                <key>sourceSize</key>
                <string>{241,157}</string>
            </dict>
            <key>14001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,631},{245,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,138}}</string>
                <key>sourceSize</key>
                <string>{245,138}</string>
            </dict>
            <key>14002.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,384},{248,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,151}}</string>
                <key>sourceSize</key>
                <string>{248,151}</string>
            </dict>
            <key>14003.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1014},{249,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,145}}</string>
                <key>sourceSize</key>
                <string>{249,145}</string>
            </dict>
            <key>14004.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,663},{249,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,187}}</string>
                <key>sourceSize</key>
                <string>{249,187}</string>
            </dict>
            <key>14005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,198},{249,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,184}}</string>
                <key>sourceSize</key>
                <string>{249,184}</string>
            </dict>
            <key>14006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{296,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,223}}</string>
                <key>sourceSize</key>
                <string>{296,223}</string>
            </dict>
            <key>14007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{285,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,222}}</string>
                <key>sourceSize</key>
                <string>{285,222}</string>
            </dict>
            <key>14008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{257,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,200}}</string>
                <key>sourceSize</key>
                <string>{257,200}</string>
            </dict>
            <key>14009.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{248,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,209}}</string>
                <key>sourceSize</key>
                <string>{248,209}</string>
            </dict>
            <key>16000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,195}}</string>
                <key>sourceSize</key>
                <string>{364,195}</string>
            </dict>
            <key>16100.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{347,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,194}}</string>
                <key>sourceSize</key>
                <string>{347,194}</string>
            </dict>
            <key>16200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{347,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,210}}</string>
                <key>sourceSize</key>
                <string>{347,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building.png</string>
            <key>size</key>
            <string>{988,1218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a17b6124c5c3e2fcd38c84b6368ae1:1/1$</string>
            <key>textureFileName</key>
            <string>building.png</string>
        </dict>
    </dict>
</plist>
