<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18500_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,144},{54,80}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,54},{54,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{54,84}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{54,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{58,86}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,46},{58,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{62,86}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,46},{62,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,90},{60,86}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,46},{60,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,88},{54,84}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,48},{54,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,92},{88,72}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,62},{88,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,178},{78,72}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{78,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,174},{76,82}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,51},{76,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,178},{74,84}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,49},{74,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{64,86}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,47},{64,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,90},{64,86}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{64,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,88},{62,84}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,49},{62,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,178},{72,82}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,51},{72,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{88,80}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,53},{88,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_attack_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,96},{88,80}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,53},{88,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,88},{54,82}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,51},{54,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,90},{62,86}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,46},{62,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,178},{82,74}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,57},{82,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{94,62}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,83},{94,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,200},{80,52}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,92},{80,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,174},{62,84}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,48},{62,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{46,88}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,45},{46,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,174},{64,76}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,58},{64,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{92,42}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,103},{92,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_die_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,42}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,108},{106,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,84},{58,80}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,54},{58,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{58,80}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{58,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{56,80}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,54},{56,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,84},{58,80}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{58,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{58,80}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{58,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,172},{58,80}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{58,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,174},{58,80}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,54},{58,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,174},{60,82}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{60,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{68,84}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,49},{68,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,88},{66,84}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,49},{66,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,174},{68,82}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,51},{68,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,174},{68,82}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,51},{68,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,88},{68,84}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,49},{68,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,182},{70,84}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,49},{70,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{68,84}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,49},{68,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_wait_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,88},{68,84}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,49},{68,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{64,86}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,48},{64,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,186},{66,86}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,48},{66,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{66,84}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,48},{66,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,88},{66,84}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{66,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{66,84}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,48},{66,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{68,84}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{68,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,88},{66,84}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{66,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{66,84}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,48},{66,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,88},{66,84}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,49},{66,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{62,84}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,49},{62,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,88},{56,84}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{56,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,90},{54,86}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,47},{54,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{54,86}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,47},{54,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{54,84}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,49},{54,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,90},{54,86}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{54,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>18500_walk_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{58,84}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{58,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>18500.png</string>
            <key>size</key>
            <string>{1318,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c9849f2e596e4c8261c58fa477b558b:1/1$</string>
            <key>textureFileName</key>
            <string>18500.png</string>
        </dict>
    </dict>
</plist>
