<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack-effect-2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,80},{84,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack-effect-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,70},{134,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack-effect-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{100,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,77},{100,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack-effect-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,80},{84,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{326,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2fad34899e24a9c4562d39117ef6530:1/1$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
